@mixin accessibility-links-and-buttons {
  &:focus-visible {
    outline: 3px #D90C0C dashed;
  }
}

@mixin padding-section {
  padding-top: $grid-base * 5;
  padding-bottom: $grid-base * 5;
}

@mixin padding-before-content {
  margin-top: $grid-base*3;
}

@mixin small-screen {
  @media only screen and (max-width: #{$bp-large}) {
    @content
  }
}

@mixin extra-small-up {
  @media (min-width: 0) {
    @content
  }
}

@mixin small-up {
  @media (min-width: #{$bp-small}) {
    @content
  }
}

@mixin medium-up {
  @media (min-width: #{$bp-medium}) {
    @content
  }
}

@mixin large-up {
  @media (min-width: #{$bp-large}) {
    @content
  }
}

@mixin extra-large-up {
  @media (min-width: #{$bp-extra-large}) {
    @content
  }
}

@mixin extra-extra-large-up {
  @media (min-width: #{$bp-extra-extra-large}) {
    @content
  }
}
