.t-portfolio {
  background-color: color(bg-section-light);
  min-height: 600px;
  @include padding-section();

  &__select {
    @include padding-before-content();
    @include small-screen {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__content {
    margin-top: $grid-base*4;
  }

  &__gallery-conteiner {
    @include small-screen {
      margin-top: $grid-base;
      margin-bottom: $grid-base;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__element {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
      .t-portfolio__description {
        opacity: 1;
      }
    }
  }

  &__description {
    position: absolute;
    z-index: $z-index3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: color(bg-gallery-opacity);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: $transition-normal ease;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 2px;
        margin: 0 auto;
        left: -10%;
        right: 0;
        width: 120%;
        background: white;
        @include extra-small-up {
          bottom: -10px;
        }
        @include small-up {
          padding-top: -10px;
        }
        @include medium-up {
          padding-top: -8px;
        }
        @include large-up {
          padding-top: -8px;
        }
      }
    }

    p {
      font-size: $font-size-6;

      @include extra-small-up {
        line-height: 114%;
        padding-top: 20px;
      }
      @include small-up {
        padding-top: 20px;
        width: 70%;
      }
      @include medium-up {
        padding-top: 18px;
      }
      @include large-up {
        line-height: 120%;
        padding-top: 18px;
      }
    }
  }
}