.t-about-me {
  background: color(bg-section-light);
  @include padding-section();

  &__grid-skill {
    transform-origin: right;
    @include small-screen {
      transform: scale(0.8);
      transform-origin: center;
    }
    @include large-up {
      transform: scale(1.1);
    }
    @include extra-large-up {
      transform: scale(0.8);
    }
  }

  &__skills {
    width: 100%;
    height: 100%;
  }

  &__item {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover .t-about-me__img-title {
      opacity: 1;
    }

    &--left {
      width: 90%;
      height: 100%;
    }

    &--right {
      width: 100%;
      height: 50%;
      @include small-screen {
        width: 100%;
        height: 50%;
        &:nth-child(1) {
          margin-bottom: 5%;
        }
        &:nth-child(2) {
          margin-top: 5%;
        }
      }

      &:nth-child(1) {
        margin-bottom: 5%;
      }

      &:nth-child(2) {
        margin-top: 5%;
      }
    }
  }

  &__img-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: color(bg-gallery-opacity);
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 15px;
    transition: opacity $transition-normal ease;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    color: color(text-white);
    @include small-screen {
      font-size: $font-size-5;
    }
    @include medium-up {
      font-size: $font-size-4;
    }
    @include large-up {
      font-size: $font-size-6;
    }
    @include extra-large-up {
      font-size: $font-size-5;
    }
    @include extra-extra-large-up {
      font-size: $font-size-4;
    }
  }

  &__descritpion {
    padding: 4%;
  }

  &__text {
    @include padding-before-content();
    color: color(text-dark);
    @include small-screen {
      font-size: $font-size-6;
    }
    @include medium-up {
      font-size: $font-size-6;
    }
    @include large-up {
      font-size: $font-size-5;
    }
  }
}