.t-portfolio {
  background-color: color(bg-section-light);

  @include padding-section();

  &__select {
    @include padding-before-content();
    @include small-screen {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__content {
    @include padding-before-content();
  }

  &__gallery-conteiner {
    @include extra-small-up {
      margin-top: $grid-base;
      margin-bottom: $grid-base;
    }
    @include medium-up {
      margin-top: $grid-base*1.5;
      margin-bottom: $grid-base*1.5;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__element {
    position: relative;

    @include extra-small-up {
      width: 100%;
      height: 100%;
    }

    &:hover {
      .t-portfolio__description {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__description {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all $transition-normal ease;
    position: absolute;
    z-index: $z-index3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: color(bg-gallery-opacity);
    width: 100%;
    height: 100%;
    //opacity: 0;
    //transition: opacity $transition-normal ease;
    //display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: $grid-base*0.2;
        margin: 0 auto;
        left: -10%;
        right: 0;
        width: 120%;
        background: white;
        @include extra-small-up {
          bottom: -$grid-base;
        }
      }
    }

    p {
      @include extra-small-up {
        @include text-7();
        line-height: 100%;
        margin-top: ($grid-base*0.6)+$portfolio-margin;
        width: 98%;
      }
      @include small-up {
        @include text-6();
        margin-top: ($grid-base*1.2)+$portfolio-margin;
        width: 80%;
      }
      @include medium-up {
        margin-top: ($grid-base*2.5)+$portfolio-margin;
      }
      @include large-up {
        line-height: 110%;
        margin-top: ($grid-base*1.7)+$portfolio-margin;
      }
      @include extra-large-up {
        margin-top: ($grid-base*2)+$portfolio-margin;
      }
    }
  }

  &__link {
    color: color(text-white);
    font-weight: bold;
    text-decoration: underline;
    @include extra-small-up {
      @include text-7();
      margin-top: ($grid-base*0.6);
    }
    @include small-up {
      margin-top: ($grid-base*1.2);
      @include text-6();
    }
    @include medium-up {
      margin-top: ($grid-base*2.5);

    }
    @include large-up {
      margin-top: ($grid-base*1.7);
    }
    @include extra-large-up {
      margin-top: ($grid-base*2);
    }

    &:hover {
      color: $primary
    }
  }
}