.t-service {
  background-color: color(bg-section-color);
  @include padding-section();

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include padding-before-content();
    @include small-up {
      width: 100%;
      flex-direction: row;
    }
    @include medium-up {
      width: 80%;
    }
    @include large-up {
      width: 70%;
    }
    @include extra-large-up {
      width: 65%;
    }
    @include extra-extra-large-up {
      width: 50%;
    }
  }

  &__element {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    margin: $gutter 0;
  }

  &__shape {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin: $grid-base;
    background-color: color(bg-icon-color);

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  &__icon-monitor {
    width: 70px;
    height: 70px;
    color: color(icon);
  }

  &__icon-web {
    color: color(icon);
    width: 54px;
    height: 54px;
  }

  &__name {
    color: color(text-white);
    margin-top: $grid-base;
    @include text-5();
    @include extra-small-up {
      width: 85%;
    }
    @include medium-up{
      width: 90%;
    }
  }
}