.t-site-header {
  background: color(bg-header);
  width: 100%;
  height: 90vh;

  &__content {
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 50px;
  }

  &__container {
    position: relative;
    height: 86vh;
  }

  &__grid {
    opacity: 0.30;
    height: 90vh;
    background: linear-gradient(45deg, transparent 74px, transparent 75px, color(grid) 75px, color(grid) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, color(grid) 76px, color(grid) 77px, transparent 78px, transparent 109px);
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }

  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  &__position-text {
    color: $white;
    line-height: $line-height-sm;
    margin-top: $grid-base;
    margin-bottom: $grid-base*2;
    @include small-screen {
      text-align: center;
    }
  }

  &__quote {
    @include padding-before-content();
    color: #e2e2e2;

    &--text {
      text-align: justify;
      @include text-5();
      @include small-screen {
        margin-top: $grid-base * 2;
      }
      @include medium-up {
        margin-top: $grid-base * 1;
      }
    }

    &--author {
      display: block;
      margin-bottom: $grid-base * 0.75;
      margin-top: $grid-base * 0.75;
      @include text-5();
    }
  }

  &__avatar {
    background-image: url("../images/ag.jpg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    @include extra-small-up {
      margin-top: $grid-base*6;
      margin-bottom: $grid-base;
      width: 22vh;
      height: 22vh;
    }
    @include medium-up {
      margin-top: $grid-base*4;
      margin-bottom: $grid-base*2;
      width: 28vh;
      height: 28vh;
    }
    @include large-up {
      width: 32vh;
      height: 32vh;
    }
  }

  &__scroll {
    display: block;
    width: 24px;
    height: 60px;
    opacity: 0.8;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    @include extra-small-up {
      bottom: -10px;
    }
    @include medium-up {
      bottom: 0px;
    }
  }

  &__arrow {
    display: block;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 5px;

    @include extra-small-up {
      width: $grid-base*1.2;
      height: $grid-base*1.2;
    }
    @include medium-up {
      width: 16px;
      height: 16px;
    }
    &--first {
      margin-top: 1px;
    }

    &--first, &--second, &--third {
      -webkit-animation: mouse-scroll $transition-slow infinite;
      -moz-animation: mouse-scroll $transition-slow infinite;
      animation: mouse-scroll $transition-slow infinite;
    }

    &--first {
      -webkit-animation-delay: .1s;
      -moz-animation-delay: .1s;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
      animation-delay: alternate;
    }

    &--second {
      -webkit-animation-delay: .2s;
      -moz-animation-delay: .2s;
      -webkit-animation-direction: alternate;
      animation-delay: .2s;
      animation-direction: alternate;
      margin-top: -6px;
    }

    &--third {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s;
      -webkit-animation-direction: alternate;
      animation-delay: .3s;
      animation-direction: alternate;
      margin-top: -6px;
    }
  }

  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }

  @include small-screen {
    clip-path: polygon(
                    0 0,
                    100% 0%,
                    100% 90%,
                    50% 100%,
                    0 90%
    );
  }
  @include medium-up {
    clip-path: polygon(
                    0 0,
                    100% 0%,
                    100% 85%,
                    50% 100%,
                    0 85%
    );
  }
  @include large-up {
    clip-path: polygon(
                    0 0,
                    100% 0%,
                    100% 78%,
                    50% 100%,
                    0 78%
    );
  }
}

