.t-technology {
  background-color: color(bg-section-dark);
  @include padding-section();

  &__content {
    @include padding-before-content();
  }

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: color(bg-card);
    box-shadow: $box-shadow-normal;
    padding: 34px 130px;
    margin-bottom: $grid-base;
    margin-top: $grid-base;

    &:hover {
      background: color(bg-card-active);
    }
  }

  &__logo {
    width: 88px;
    height: 88px;
    border-radius: 20px;
    margin: $grid-base;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &--java {
      width: 56px;
      height: 68px;
    }
  }

  &__name {
    color: $white;
    margin-top: $grid-base;
    font-size: $font-size-6;
  }
}