.t-technology {
  background-color: color(bg-section-dark);
  @include padding-section();

  &__content {
    @include padding-before-content();
    @include extra-small-up {
      width: 100%;
    }
    @include small-up {
      width: 100%;
    }
    @include medium-up {
      width: 100%;
    }
    @include large-up {
      width: 90%;
    }
    @include extra-large-up {
      width: 100%;
    }
    @include extra-extra-large-up {
      width: 90%;
    }
  }

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: color(bg-card);
    box-shadow: $box-shadow-normal;
    margin-bottom: $grid-base;
    margin-top: $grid-base;
    @include text-5();
    @include extra-small-up {
      padding: 15px 60px;
    }
    @include small-up {
      padding: 25px 90px;
    }
    @include medium-up {
      padding: 25px 0px;
    }
    @include large-up {
      padding: 30px 0px;
    }
    @include extra-large-up {
      padding: 25px 0px;
    }
    @include extra-extra-large-up {
      padding: 30px 0px;
    }

    &:hover {
      background: color(bg-card-active);
    }
  }

  &__logo {
    width: 88px;
    height: 88px;
    border-radius: 20px;
    margin: $grid-base;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &--java {
      width: 56px;
      height: 68px;
    }
  }

  &__name {
    color: $white;
    @include text-5();
    @include extra-small-up {
      margin-top: $grid-base*0.2;
    }
    @include small-up {
      margin-top: $grid-base;
    }
  }
}