.u-bg-secondary{
  background-color: $secondary;
}

.u-bg-white {
  background-color: $white;
}

.u-bg-light {
  background-color: $gray-light;
}

.u-primary {
  color: $primary;
}

.u-secondary {
  color: $primary;
}

.u-white {
  color: $white;
}
