.c-btn {
  border: none;
  border-radius: $border-radius;
  display: inline-block;
  font-size: $font-size-6;
  font-weight: 500;
  line-height: $line-height-base*0.9;
  padding: .60rem 0;
  text-align: center;
  width: $grid-base * 20;
  cursor: pointer;
  @include accessibility-links-and-buttons;

  &:hover {
    text-decoration: none;
  }

  &--light {
    background-color: $white;
    color: $black;
    border: 2px solid color(btn-white-border);

    &:hover {
      background-color: darken($white, 15%);
      color: $black;
    }
  }

  &__inverse {
    background-color: rgba(0, 0, 0, 0.0);
    color: color(btn-inverse);
    border: 1px solid color(btn-inverse);
    padding: .3rem 0;
    line-height: $line-height-base*0.8;
    width: $grid-base * 14;
    font-size: $font-size-6;
    margin-left: $grid-base*1.5;
    margin-right: $grid-base*1.5;
    @include small-screen {
      width: $grid-base * 17;
      line-height: $line-height-base*0.8;
      font-size: $font-size-7;
      margin-top: $grid-base;
    }

    &--active {
      background-color: color(btn-inverse);
      color: color(btn-text-white);
    }
  }
}
