.c-heading {
  color: color(text-heading-white);
  line-height: $line-height-sm;
  @include small-screen {
    text-align: center;
  }

  &--level1 {
    @include extra-small-up {
      font-size: $font-size-4;
    }
    @include small-up {
      font-size: $font-size-3;
    }
    @include medium-up {
      font-size: $font-size-2;
    }
    @include large-up {
      font-size: $font-size-1;
    }
    @include extra-large-up {
      font-size: $font-size-1;
    }
    @include extra-extra-large-up {
      font-size: $font-size-1;
    }
  }

  &--level2 {
    @include extra-small-up {
      font-size: $font-size-5;
    }
    @include small-up {
      font-size: $font-size-4;
    }
    @include medium-up {
      font-size: $font-size-3;
    }
    @include large-up {
      font-size: $font-size-2;
    }
    @include extra-large-up {
      font-size: $font-size-2;
    }
    @include extra-extra-large-up {
      font-size: $font-size-2;
    }
  }

  &--level3 {
    @include extra-small-up {
      font-size: $font-size-6;
    }
    @include small-up {
      font-size: $font-size-5;
    }
    @include medium-up {
      font-size: $font-size-4;
    }
    @include large-up {
      font-size: $font-size-3;
    }
    @include extra-large-up {
      font-size: $font-size-3;
    }
    @include extra-extra-large-up {
      font-size: $font-size-3;
    }
  }

  &--upper {
    text-transform: uppercase;
  }

  &--primary {
    color: color(text-color-primary);
  }

  &--secondary {
    color: color(text-color);
  }
}