.o-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;

  &--center-y {
    align-items: center;
  }

  &--center-x {
    justify-content: center;
  }

  &--column {
    flex-direction: column;

  }

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--column-rwd {
    @include medium-up {
      flex-direction: row;
    }
  }

  &--column-reverse {
    @include small-screen {
      flex-direction: column-reverse;
    }
  }
}