.c-nav {
  &__item {
    color: $white;
    display: block;
    font-size: $font-size-6;
    padding-bottom: $grid-base * .75;
    padding-top: $grid-base * .75;
    text-align: center;
    width: 100%;

    & a {
      color: $white;
      @include small-screen {
        color: $white;
      }
    }

    &:hover {
      color: $primary;
      @include small-screen {
        color: $primary;
      }

      & a {
        color: $primary;
        @include small-screen {
          color: $primary;
          font-weight: bold;
        }
      }
    }

    @include large-up {
      display: inline-block;
      margin-left: $grid-base * 2.5;
      width: auto;
    }
    @include small-screen {
      padding: $grid-base * 0.75;
      margin: 10px auto;
      width: 80%;
    }
  }


  @include small-screen {
    & {
      z-index: 499;
      padding: $grid-base *5 $grid-base;
      position: fixed;
      top: -100%;
      left: 0;
      flex-direction: column;
      background-color: rgba(36, 81, 199, 0.95);
      width: 100%;
      text-align: center;
      margin: 0px auto;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    &.active {
      top: 0;
    }
  }
}